.top-fifty-outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;
}

.top-fifty-players {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-ten-players,
.eleven-to-twenty-five-players,
.twenty-six-to-fifty-players {
    margin-bottom: 30px;
}

.main-padding {
    padding: 0% 5%;
}
